h1 {
    color: #9932cc;
    border: 2px skyblue solid;

}

.item-section {
    text-align: center;
    justify-items: center;
    color: white;
    font-size: 1.5rem;
    background: linear-gradient(to right, yellow, green, blue, pink);
    padding: 4rem;

}

.line {
    border: 3px aquamarine solid;
}

.lline {
    border: 3px rgb(0, 128, 255) solid;
    animation: jack 2s;

}
@keyframes jack{

border 2%{

}


}